spring:
  application:
    name: businessdomain-customer
  cloud:
    config:
        enabled: false
  datasource:
    url: ${DB_HOST:jdbc:postgresql://localhost:5435}/${DB_NAME:customer}
    username: ${DB_CUSTOMER_USER}
    password: ${DB_CUSTOMER_PASS}
    driver-class-name: org.postgresql.Driver
  rabbitmq:
    host: ${RABBIT_HOST:localhost}
    port: 5672
    username: ${RABBIT_USERNAME}
    password: ${RABBIT_PASSWORD}
    dynamic: true
    listener:
      simple:
        acknowledge-mode: manual
        retry:
          enabled: true
          max-attempts: 5
          initial-interval: 2000ms
        default-requeue-rejected: false

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 0

eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_SERVER:http://localhost:8761/eureka}
    register-with-eureka: true
    healthcheck:
      enabled: true
    fetch-registry: true

management:
  endpoints:
    web:
      exposure:
        include: "*"