spring:
  application:
    name: businessdomain-account
  cloud:
    config:
        enabled: false
  datasource:
    url: ${DB_HOST:jdbc:postgresql://localhost:5436}/${DB_NAME:account}
    username: ${DB_ACCOUNT_USER}
    password: ${DB_ACCOUNT_PASS}
    driver-class-name: org.postgresql.Driver
  autoconfigure: #rabbimtq disabled
    exclude: org.springframework.boot.autoconfigure.amqp.RabbitAutoConfiguration
  #rabbitmq:
  #  host: ${RABBIT_HOST:localhost}
  #  port: 5672
  #  username: ${RABBIT_USERNAME}
  #  password: ${RABBIT_PASSWORD}
  #  dynamic: true
  #  listener:
  #    simple:
  #      acknowledge-mode: manual
  #      retry:
  #        enabled: true
  #        max-attempts: 5
  #        initial-interval: 2000ms
  #      default-requeue-rejected: false
#
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8083

springdoc:
  swagger-ui:
    enabled: false

eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_SERVER:http://localhost:8761/eureka}
    register-with-eureka: true
    healthcheck:
      enabled: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    lease-renewal-interval-in-seconds: 5
    lease-expiration-duration-in-seconds: 10
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}

management:
  endpoints:
    web:
      exposure:
        include: "*"

logging:
  lever:
    org:
      springframework:
        scheduling: DEBUG