# ==========================================
# Java / Maven
# ==========================================
target/
*.class
*.log
*.jar
*.war
*.ear
hs_err_pid*
.recommenders
.settings/
.classpath
.project
.mvn/timing.properties

# ==========================================
# IDEs
# ==========================================
.vscode/


# ==========================================
# OS Files
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# Spring Boot / Configuration
# ==========================================
# Ignore local application config files with credentials
**/application.yml
**/application-local.yml
**/application-dev.yml
**/application-prod.yml
.env
.env.*

# ==========================================
# Logs
# ==========================================
logs/
*.log

# ==========================================
# Test Reports
# ==========================================
surefire-reports/
test-output/

# =========================
# Ignore config-repo inside infraestructure-domain
# =========================
infrastructure-domain/config-repo/**

# =========================
# Docker (por ahora ignorado)
# =========================
docker-compose*.yml