spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        # /auth
        - id: auth_auth_routes
          uri: lb://businessdomain-auth
          predicates:
            - Path=/auth/**
        # /user
        - id: auth_user_routes
          uri: lb://businessdomain-auth
          predicates:
            - Path=/user/**
          filters:
            AuthenticationFiltering

        #/profile
        - id: user_profile_routes
          uri: lb://businessdomain-user
          predicates:
            - Path=/profile/**
          filters:
            AuthenticationFiltering

        # Keycloak
        - id: keycloak
          uri: ${KEYCLOAK_SERVER:http://localhost:8091}
          predicates:
            - Path=/realms/**, /admin/realms/**


    loadbalancer:
      retry:
        enabled: true

server:
  port: 8080

springdoc:
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    config-url: /v3/api-docs/swagger-config
    urls:
      - name: Auth
        url: /docs/auth
      - name: User
        url: /docs/user

eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_SERVER:http://localhost:8761/eureka}
    register-with-eureka: true
    healthcheck:
      enabled: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    lease-renewal-interval-in-seconds: 5
    lease-expiration-duration-in-seconds: 10
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}

logging:
  level:
    org.springframework.cloud.gateway: debug
    reactor.netty.http.client: debug

