spring:
  application:
    name: eureka

server:
  port: 8761

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
  server:
    renewal-percent-threshold: 0.85
    enable-self-preservation: false
  instance:
    lease-renewal-interval-in-seconds: 10